.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid rgb(0, 225, 255);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 2px 2px 15px rgba(0, 225, 255, 0.123);
}